@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
}

:root {
    --menu-text-font-size: 2.4rem;
    --title-font-size: 10rem;
    --title-smaller-font-size: 5.8rem;
    --main-button-font-size: 2.8rem;
}

.header {
    padding: 38px 0 0 76px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 795px;
}

.menu__link {
    display: flex;
    font-weight: 600; 
    font-size: var(--menu-text-font-size);
    line-height: 2.9rem;
    color: #989D9C;
    cursor: pointer; 
}

.menu__button {
    background: #665AE1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none; 
    font-size: var(--menu-text-font-size);
    line-height: 29px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer; 
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main__image {
    width: 39.92%;
    margin-right: 86px;     
}

.main__image-logo {
    width: 100%;
}

.main__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 36%;
}

.main__button {
    width: 239px;
    height: 64px;
    background: #ADFF00;
    border-radius: 20.5px;
    border: none;
    font-weight: 700;
    font-size: var(--main-button-font-size);
    line-height: 34px;
    color: #000000;
    cursor: pointer;
}

.title {
    font-weight: 900;
    font-size: var(--title-font-size);
    line-height: 122px;
    color: #515151; 
    width: 100%;  
}

.title--smaller {
    font-weight: 500;
    font-size: var(--title-smaller-font-size);
    line-height: 71px;
    color: #515151;
    width: 100%;
}

.text {
    font-weight: 400;
    font-size: var(--menu-text-font-size);
    line-height: 29px;
    color: #848484;
    width: 100%;
    margin: 32px 0 65px 0;
}

@media(max-width: 1436px) {
    .menu__link, .menu__button, .text {
        font-size: calc(var(--menu-text-font-size) - 0.48rem);
    }

    .title {
        font-size: calc(var(--title-font-size) - 2rem);
    }

    .title--smaller {
        font-size: calc(var(--title-smaller-font-size) - 1.16rem);
    }
}

@media(max-width: 1152px) {
    .menu__link, .menu__button, .text {
        font-size: calc(var(--menu-text-font-size) - 0.86rem);
    }

    .title {
        font-size: calc(var(--title-font-size) - 3.6rem);
    }

    .title--smaller {
        font-size: calc(var(--title-smaller-font-size) - 2.10rem);
    }
}

@media(max-width: 925px) {
    .header {
        display: flex;
        justify-content: center;
        padding: 38px 0 0 0;
    }
    
    .menu {
        width: 95%;
    }
    
    .main {
        flex-direction: column;
        padding: 70px 0 133px 0;
        text-align: center;
    }
    
    .main__image {
        width: 90%;
        margin-right: 0px;     
    }
    
    .main__image-logo {
        width: 100%;
    }
    
    .main__text {
        width: 68%;
        margin-top: 24px;
        align-items: center;
    }
}

@media(max-width: 650px) {
    .header, .text {
        display: none;
    }

    .main {
        padding: 149px 0 133px 0;
    }

     .title--smaller {
        margin: 7px 0 17px 0;
    }

    .title {
        font-size: calc(var(--title-font-size) - 5rem);
        line-height: 61px;
    }
    
    .title--smaller {
        font-size: calc(var(--title-smaller-font-size) - 2.8rem);
        line-height: 37px;
    }
}

