@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #5D5D7D;
}

html {
    font-size: 62.5%;
    min-height: 100vh;
    background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 67%, rgba(93, 93, 125, 0.16) 67%, rgba(93, 93, 125, 0.16));
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 24.12px 0 0 0;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    width: 34%;
}

.menu__link {
    font-size: 2.8rem;
    line-height: 41.5px;
    cursor: pointer;
}

.menu__link--opacity {
    opacity: 0.4;
}

.main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main__image {
    width: 31%;
}

.main__image-logo {
    width: 100%;
}

.main__text {
    display: flex;
    flex-direction: column;
    width: 37.5%;
}

.main__button {
    width: 269px;
    height: 62px;
    background: #9499EA;;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    font-size: 2.4rem;
    line-height: 35.57px;
    color: #FFFFFF;
    cursor: pointer;
}

.title {
    font-size: 7rem;
    line-height: 80px;
    width: 68%;
}

.text {
    margin: 15px 0px 15px 0;
    font-size: 2.8rem;
    line-height: 48px;
    width: 100%;
    opacity: 0.6;
}

@media(max-width: 1433px) {
    .menu__link, .text {
        font-size: 2.52rem;
    }

    .title {
        font-size: 6.3rem;
    }
}

@media(max-width: 1291px) {
    .menu__link, .text {
        font-size: 2.27rem;
    }

    .title {
        font-size: 5.67rem;
    }
}

@media(max-width: 1165px) {
    .menu__link, .text {
        font-size: 2.04rem;
    }

    .title {
        font-size: 5.10rem;
    }
}

@media(max-width: 1050px) {
    .menu__link, .text {
        font-size: 1.80rem;
    }

    .title {
        font-size: 4.50rem;
    }
}

@media(max-width: 930px) {
    html {
        background: #FFFFFF;
    }
    
    .header {
        justify-content: center;        
    }
    
    .menu {
        display: flex;
        justify-content: space-between;
        width: 72%;
    }
    
    .menu__link {
        font-size: 2.52rem;
    }
    
    .main {
        display: flex;
        align-items: none;
        flex-direction: column;
        margin-top: 58px;
    }
    
    .main__image {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 46px 0;
        background-color: rgba(93, 93, 125, 0.16);
    }
    
    .main__image-logo {
        width: 72%;
    }
    
    .main__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 72%;
        text-align: center;
        margin-bottom: 47px;
    }

    .title {
        font-size: 6.3rem;
        width: 100%;
    }
    
    .text {
        font-size: 2.52rem;
    }
}

@media(max-width: 500px) {
    .header {
        display: none;
    }

    .main {
        justify-content: start;
        min-height: 0;
    }
    
    .title {
        font-size: 3.6rem;
        line-height: 52px;        
    }
    
    .text {
        font-size: 1.4rem;
        line-height: 24px;
    }
}

@media(min-width: 200px) and (max-width: 430px) {
    .main {
        margin-top: 87px;
    }

    .main__image {
        padding: 55px 0;
    }

    .main__text {
        margin-bottom: 70px;
    }

    .text {
        margin: 30px 0px 30px 0;
    }
}

@media(max-width: 380px) {
    .main__button {
        width: 100%;
        height: 62px;
        font-size: 2rem;
        line-height: 24px;
    }
}